A3/WindowsCollegeApplication/WindowsApplication/Connected Services/SRCollegeRegistration/CollegeRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CollegeRegistration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56953/CollegeRegistration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56953/CollegeRegistration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICollegeRegistration_dropCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:dropCourse" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_dropCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:dropCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_registerCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:registerCourse" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_registerCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_updateGrade_InputMessage">
    <wsdl:part name="parameters" element="tns:updateGrade" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_updateGrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateGradeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICollegeRegistration">
    <wsdl:operation name="dropCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeRegistration/dropCourse" message="tns:ICollegeRegistration_dropCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeRegistration/dropCourseResponse" message="tns:ICollegeRegistration_dropCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeRegistration/registerCourse" message="tns:ICollegeRegistration_registerCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeRegistration/registerCourseResponse" message="tns:ICollegeRegistration_registerCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateGrade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeRegistration/updateGrade" message="tns:ICollegeRegistration_updateGrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeRegistration/updateGradeResponse" message="tns:ICollegeRegistration_updateGrade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICollegeRegistration" type="tns:ICollegeRegistration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dropCourse">
      <soap:operation soapAction="http://tempuri.org/ICollegeRegistration/dropCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerCourse">
      <soap:operation soapAction="http://tempuri.org/ICollegeRegistration/registerCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGrade">
      <soap:operation soapAction="http://tempuri.org/ICollegeRegistration/updateGrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CollegeRegistration">
    <wsdl:port name="BasicHttpBinding_ICollegeRegistration" binding="tns:BasicHttpBinding_ICollegeRegistration">
      <soap:address location="http://localhost:56953/CollegeRegistration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>